#team-member-list {
  height: auto;
  width: 100%;
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
  #team-member-cnt {
    height: auto;
    width: auto;
    // padding-bottom: 2rem;
   
    #get-pdf-btn {
      font-size: 18px;
      background-color: #ff5252;
      width: 100%;
      height: 45px;
      margin-top: 20px;
      // right: 0;
      // left: 0;
      // margin: auto;
      // padding-top: 10px;
    }
    #button-div {
      height: auto;
      width: auto;
      display: flex;
      flex-direction: column;
      position: fixed;
      bottom: 5rem;
      right: 20px;
      Button{
        font-size: 23px;
        background-color: #ff5252;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      }
    }
    #back-btn{
      font-size: 23px;
        background-color: #ff5252;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        position: fixed;
        bottom: 5rem;
        left: 20px;
    }
  }
}
