#get-pdf {
  width: 100%;
  height: auto;
  margin-top: 6rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  // background-color: aquamarine;

  #get-pdf-cnt {
    width: 85%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   // background-color: rgba(240, 128, 128, 0.452);

    h2 {
      font-size: 22px;
      font-weight: 600;
      margin: 0;
    }

    p {
      font-size: 15px;
      color: #9d9d9d;
      margin: 6px 0;
    }

    #pdf-cnt-view {
      // background-color: green;
      height: 360px;
      width: 90%;
      // background-color: #08c708;
      overflow: auto;
      white-space: nowrap;
      position: relative;
    }

    #genarate-pdf-btn {
      font-size: 18px;
      background-color: #ff5252;
      width: 80%;
      height: 45px;
      margin: 15px 0 0 0;
      position: fixed;
      bottom: 5rem;
      z-index: 3;
    }
  }
}
