#nav-bar {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    #nav-bar-cnt-div{
        height: auto;
        width: auto;
        display: flex;
        align-items: center;
        padding: 12px 20px;
        gap: 35px;

        .nav-bar-item-divs{
            align-items: center;
            display: flex;
            flex-grow: 1;
            gap: 8px;
            justify-content: center;
            padding: 12px;
            position: relative;

            #text-wrapper {
                color: #ff3d3da6;
                font-family: "Nunito-Bold", Helvetica;
                margin: 2px 0 0 0;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 0;
                line-height: normal;
                position: relative;
                width: fit-content;
                display: none;
            }

            .active-icon{
                display: none;
            }
            .unactive-icon{
                display: block;
            }
        }
    }
}

.active{
    align-items: center;
    background-color: rgb(255 82 82 / 26%) !important;
    border-radius: 12px;
    overflow: hidden;
    padding: 12px;
    position: relative;

   
    div{
        display: inline-flex;
        gap: 8px;
        
        .active-icon{
            display: block !important;
        }
        .unactive-icon{
            display: none !important;
        }
    

        #text-wrapper {
            display: block !important;
        }
    }
}

