#team-leader {
  width: 100%;
  height: auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
  // background-color: rgb(192, 252, 232);

  #team-leader-form {
    width: 85%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: rgba(240, 128, 128, 0.452);

    h2 {
      font-size: 22px;
      font-weight: 600;
      margin: 0;
    }
    #tl-name::first-letter {
      text-transform: uppercase;
    }
    #tl-id {
      font-size: 18px;
    }

    h3 {
      font-size: 15px;
      font-weight: 400;
      color: #9d9d9d;
      margin: 0;
    }

    p {
      font-size: 15px;
      color: #9d9d9d;
      margin: 6px 0;
    }

    Input {
      font-size: 15px;
      height: 40px;
      color: #3b3b3b;
      background-color: #eeeeee;
    }

    #date-picker {
      font-size: 15px;
      height: 50px;
      color: #3b3b3b;
      background-color: #eeeeee;
      margin: 12px 0;
      width: 100%;

    }

    #date-picker.active {
      align-items: center;
      background-color: #eeeeee !important;
      border: 1px solid gainsboro !important;  
    }

  //  .flatpickr-calendar .animate .open{
  //   z-index: 1 !important;
  //  }
    
    #time-picker {
      font-size: 15px;
      height: 50px;
      color: #3b3b3b;
      background-color: #eeeeee;
      margin: 12px 0;
      width: 100%;
     
    }
    #time-picker.active {
      align-items: center;
      background-color: #eeeeee !important;
      border: 1px solid gainsboro !important;  
    }
    #signature {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;

      #signature-div {
        border: 1px solid #d1d1d1;
        border-radius: 12px;
        width: 100%;
        height: 200px;
        margin: 50px 0 20px 0;
        background-color: #eeeeee;

        .sigCanvas {
          width: 100%;
          height: 100%;
        }
      }

      #signature-clear-btn {
        color: #ff5252;
        border: 1px solid #ff5252;
        width: 70px;
        margin: 10px 0;
      }
    }

    #team-leader-btn {
      font-size: 18px;
      background-color: #ff5252;
      width: 100%;
      height: 45px;
      margin: 15px 0 0 0;
    }
  }
}
